#root {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  box-sizing: border-box;
}
.codeGeneratorParentContainer{
  display: flex;
  width: 100%;
  height: 100%;

  .inputSectionContainer{
    width: 20%;
    padding: 12px;
    border-right: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #fafafa;

    .textAreaInput{
      flex: 1;
      padding: 12px;
      resize: none;
      border: 1px solid #eaeaea;
      border-radius: 8px;
      background-color: white;
      color: black;
      font-size: 14px;
      font-family: system-ui, -apple-system, sans-serif;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    }
    .generateButton{
      padding: 12px;
      background-color: #0066cc;
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
  }

  .PreviewSectionContainer{
    flex: 1;
    align-self: stretch;
    padding: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    justify-content: center;
    align-items: center;

    .emptMessage{
      color: #666;
      font-size: 14px;
      text-align: center;
      max-width: 400px;
    }
  }
}

